In [1]:
import pandas as pd

In [4]:
days = ['Monday', 'Tuesday','Wednesday']
fruits =['banana','orange','peach']
drinks = ['coffee','tea','beer']
desserts = ['tiramisu','ice cream', 'pie','pudding']
for day,fruit, drink, dessert in zip (days, fruits, drinks, desserts):
    print(day, ": drink","- eat",fruit, "- enjoy", dessert)

Monday : drink - eat banana - enjoy tiramisu
Tuesday : drink - eat orange - enjoy ice cream
Wednesday : drink - eat peach - enjoy pie

In [2]:
english = 'Monday', 'Tuesday', 'wednesday'
french = 'Lundi', 'Mardi', 'Merccredi'
print(list(zip(english, french)))
print(dict(zip(english, french)))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('wednesday', 'Merccredi')]
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'wednesday': 'Merccredi'}

In [7]:
for i,j in enumerate(days):
    print(i,j)

0 Monday
1 Tuesday
2 Wednesday

In [12]:
def re(j):
    return [i*3 for i in j];
a= map(lambda i:i*2,[1,2,3,4,5])
for i in a:
    print(i)

2
4
6
8
10

In [13]:
b= filter(lambda i:i%2==0, [2,3,5,6,7,9])
for i in b:
    print(i)

2
6

In [15]:
# list comprehension 타입
number_list = [i for i in range(1,6)]
print(number_list)
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

[1, 2, 3, 4, 5]
1 1
1 2
2 1
2 2
3 1
3 2

In [18]:
# list comprehension 타입
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [19]:
#딕셔너리 컴프리핸션
word = 'letters'
letter_counts = { letter:word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [49]:
dict1 = {'그린' + str(i):i for i in range(1,6)}
dict1

{'그린1': 1, '그린2': 2, '그린3': 3, '그린4': 4, '그린5': 5}

In [56]:
def ttt(a,b):
    return [str(a[i]) + str(b[i]) for i in range(len(a))]
result = []
result = ttt(['그린','레드','블루','초록'],[1,2,3,4])

print(result)

['그린1', '레드2', '블루3', '초록4']

In [66]:
def ttt(i,j):
    return [str(x)+str(y) for x,y in zip(i,j)]

result = ttt(['그린','레드','블루','초록'],[1,2,3,4])

print(result)

['그린1', '레드2', '블루3', '초록4']

In [71]:
def menu(a,b, c):
    return {'wine':a, 'entree':b,'dessert':c}
print(menu('chardonny', 'chicken', 'cake'))

{'wine': 'chardonny', 'entree': 'chicken', 'dessert': 'cake'}

In [69]:
#키워드 인자
def menu1(wine='bordeaux',entree='beef', dessert = 'bagel'):
    return {'wine':'bordeaux','entree' : 'beef', 'dessert':'bagel'}
menu1('frontennac', dessert='flan',entree='fish')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [72]:
def print_args(*args):
    print("Positional argument tuple:",args)
print_args()
print_args(3,2,1,'wait!', 'uh...')

Positional argument tuple: ()
Positional argument tuple: (3, 2, 1, 'wait!', 'uh...')

In [73]:
def print_args1(a,b, *args):
    print("Positional argument tuple:a= ",a,'b=', b, args)
print_args1(3,2,1, 'wait!', 'uh....')

Positional argument tuple:a=  3 b= 2 (1, 'wait!', 'uh....')

In [74]:
#docstring
def echo(anything):
    'echo returns its input argument'
    return anything
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [297]:
def add_args(args):
    print(args)
    return sum(args)

In [156]:
def run_something_with_args(func,*args):
    
    return func(*args)

run_something_with_args(add_args,5,9,12,23)

49

In [298]:
def run_something_with_args(func,*args):
    result = [i*3 if(i%2==0) else i*2 for i in args]
    print("1)", result)
    return func(result)
run_something_with_args(add_args,5,9,12,23)

1) [10, 18, 36, 46]
[10, 18, 36, 46]

110